{{ define "main" }}
<div class="page-content">
  <div>
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image"
            style="background-image: url('{{ "images/cc-bg-1.webp" | relURL }}')">
          </div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#"><img src="{{ "images/profile.webp" | relURL }}" alt="Michael Gallo"></a></div>
              <div class="h2 title">Michael Anthony Gallo</div>
              <p class="category text-white">Golang, Python, Linux, AWS</p>
              <a href="{{ "images/Michael-Gallo-Resume.pdf" | relURL }}" class="btn btn-primary mr-2">Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="about">
      <div class="container">
        <div class="card">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">About</div>
                <p>I am Michael Gallo. Senior Software Engineer with ~6 years of experience designing and developing
                  scalable solutions within the e-commerce and banking sectors. Proven expertise in Golang, Python,
                  and Linux with demonstrated leadership in mentoring junior engineers. Most recently, designed and
                  implemented an automated integration testing plan and Jenkins pipeline for a federated Golang
                  GraphQL Gqlgen data mesh, significantly improving testing efficiency for a top 15 bank.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Basic Information</div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Location:</strong></div>
                  <div class="col-sm-8">Arlington, VA</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                  <div class="col-sm-8"><a href="mailto:me@michaelgallo.dev">me@michaelgallo.dev</a></div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                  <div class="col-sm-8"><a href="tel:+17327427313">732-742-7313</a></div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">LinkedIn:</strong></div>
                  <div class="col-sm-8">
                    <a href="https://www.linkedin.com/in/michael-gallo-8193669a/">linkedin.com/in/michael-gallo-8193669a/</a>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">GitHub:</strong></div>
                  <div class="col-sm-8">
                    <a href="https://github.com/Michael-Gallo/">github.com/Michael-Gallo/</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="skill">
      <div class="container">
        <div class="h4 text-center mb-4 title">Professional Skills</div>
        <div class="card">
          <div class="card-body">
            {{ $skills := hugo.Data.homepage.skills }}
            {{ range $i, $skill := $skills }}
            {{ if eq (mod $i 2) 0 }}<div class="row">{{ end }}
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">{{ $skill.name }}</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ $skill.proficiency }}"
                      aria-valuemin="0" aria-valuemax="100" style="width: {{ $skill.progress_width }}%;"></div><span class="progress-value">{{ $skill.proficiency }}%</span>
                  </div>
                </div>
              </div>
            {{ if eq (mod $i 2) 1 }}</div>{{ end }}
            {{ end }}
            {{ if eq (mod (len $skills) 2) 1 }}</div>{{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="h4 text-center mb-4 title">Portfolio</div>
          </div>
        </div>
        <div class="tab-content gallery mt-5">
          <div class="tab-pane active" id="web-development">
            <div class="row portfolio-row">
              {{ range hugo.Data.homepage.portfolio_items }}
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="cc-porfolio-image img-raised">
                  <a href="{{ .url }}" target="_blank" rel="noopener">
                    <figure class="cc-effect"><img{{ with .image_class }} class="{{ . }}"{{ end }} src="{{ printf "images/%s" .image | relURL }}" alt="{{ .image_alt }}">
                      <figcaption>
                        <div class="h4">{{ .name }}</div>
                        <p>{{ .description }}</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="experience">
      <div class="container cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        {{ range hugo.Data.homepage.experiences }}
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary">
              <div class="card-body cc-experience-header">
                <p>{{ .dates }}</p>
                <div class="h5">{{ .company }}</div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <div class="h5">{{ .title }}</div>
                <p>{{ delimit .description "<br><br>" | safeHTML }}</p>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="section" id="certifications">
      <div class="h4 text-center mb-4 title">Certifications</div>
      <div class="container" style="max-width: 50%;">
        <div class="row justify-content-center">
          {{ range hugo.Data.homepage.certifications }}
          <div class="col-md-6 col-lg-4 col-sm-6 mb-4">
            <a href="{{ .url }}" target="_blank" rel="noopener">
              <img src="{{ printf "images/%s" .image | relURL }}" class="img-fluid" alt="{{ .alt }}">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
