<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Michael Gallo</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/css/aos.css?ver=1.1.0" rel="stylesheet">
  <link href="static/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
  <link href="static/css/main.css?ver=1.1.0" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Michael Gallo</a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
                class="navbar-toggler-bar bar3"></span></button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div>
      <div class="profile-page">
        <div class="wrapper">
          <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true"
              style="background-image: url('static/images/cc-bg-1.webp')">
            </div>
            <div class="container">
              <div class="content-center">
                <div class="cc-profile-image"><a href="#"><img src="static/images/profile.webp" alt="Image" /></a></div>
                <div class="h2 title">Michael Anthony Gallo</div>
                <p class="category text-white">Golang, Python, Linux, Google Cloud Platform</p><a
                  class="btn btn-primary smooth-scroll mr-2" href="static/Michael-Gallo-Resume.docx" data-aos="zoom-in"
                  data-aos-anchor="data-aos-anchor">Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">About</div>
                  <p>Hello! I am Michael Gallo. Software developer, devops engineer, and Linux enthusiast.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">Basic Information</div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                    <div class="col-sm-8"><a
                        href="mailto: michaelgallo+mgdev@protonmail.com">michaelgallo@protonmail.com</a></div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                    <div class="col-sm-8"><a href="tel:+17327427313">732-742-7313</a></div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">LinkedIn:</strong></div>
                    <div class="col-sm-8">
                      <a
                        href=https://www.linkedin.com/in/michael-gallo-8193669a />linkedin.com/in/michael-gallo-8193669a/</a>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Gitlab:</strong></div>
                    <div class="col-sm-8">
                      <a href=https://gitlab.com/michaelagallo95/ />gitlab.com/michaelagallo95/</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Professional Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Linux</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Golang</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Google Cloud
                      Platform</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Ansible</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 40%;"></div><span class="progress-value">40%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Docker</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 25%;"></div><span class="progress-value">40%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="h4 text-center mb-4 title">Portfolio</div>
            </div>
          </div>
          <div class="tab-content gallery mt-5">
            <div class="tab-pane active" id="web-development">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://gitlab.com/michaelagallo95/ansible-config" target="_blank">
                        <figure class="cc-effect"><img src="static/images/ansible.webp" alt="Image" />
                          <figcaption>
                            <div class="h4">Ansible</div>
                            <p>My personal ansible playbook</p>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <!-- <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="#web-development">
                        <figure class="cc-effect"><img src="static/images/python.png" alt="Image" />
                          <figcaption>
                            <div class="h4">Startup Project</div>
                            <p>Web Development</p>
                          </figcaption>
                        </figure>
                      </a>
                    </div> -->
                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://gitlab.com/michaelagallo95/portfolio-website">
                        <figure class="cc-effect"><img src="static/images/gcp.webp" alt="Image" />
                          <figcaption>
                            <div class="h4">Serverless Portfolio Website</div>
                            <p>This website</p>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="experience">
        <div class="container cc-experience">
          <div class="h4 text-center mb-4 title">Work Experience</div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>July 2021 - Present</p>
                  <div class="h5">Accenture</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Data Engineering Analyst</div>
                  <p>
                    Operated as a Golang engineer for GraphQL gqlgen data mesh for top 15 bank. Onboarded newer
                    developers onto Go and client tools. Developed common GraphQL resolver framework, enabling different
                    teams to have to code only the logic that is unique to their data products without having to
                    re-implement common code.
                    Served as DMN SME for rule engine for top 15 bank. Supported client in the development of new
                    business rules and led rule deployments. Developed Python XML diff tool using
                    lxml to generate human readable explanation of changes within a DMN. Led Jmeter performance testing
                    of rule engine.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>February 2019 - July 2021</p>
                  <div class="h5">JD Sports</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Software Developer</div>
                  <p>Wrote Python software utilizing Amazon MWS and Shipstation APIs to generate custom sales reports
                    which included metrics such as profitability by SKU and region. Reports were automatically formatted
                    and written to Excel sheets using openpyxl and were emailed to leadership and to relevant team
                    members.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="certifications">
        <!-- <div class="container cc-experience"> -->
        <div class="h4 text-center mb-4 title">Certifications</div>
        <!-- <div class="card"> -->
        <div class="row">
          <!-- <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500"> -->
          <!-- <div class="card-body cc-experience-header"> -->
          <div class="column" style="width:50%">
            <a href=https://www.credential.net/45b2302b-cbc8-451f-9067-2b26e42a0763 target="_blank"><img
                src="/static/images/gcp-ace.webp" align="right""></a></div>
          <div class=" column" style="width:50%">
              <a href=https://www.credly.com/badges/a58777ea-8acf-4e9f-b5c5-4f1b31882fe9 target="_blank"><img
                  src="/static/images/aws-cloud-practitioner.webp" align="right""></a></div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div class=" col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Data Engineering Analyst</div>
                  <p>Served as DMN SME for rule engine for top 15 bank. Supported client in the development of new
                    business rules and led rule deployments. Developed Python XML diff tool using
                    lxml to generate human readable explanation of changes within a DMN. Led Jmeter performance
                    testing
                    of rule engine.</p>
                </div> -->
          </div>
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('images/staticmap.png')">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title"><a href="mailto: michaelgallo+mgdev@protonmail.com">Contact
                        Me</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer class=" footer">
    <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com"
        target="_blank">TemplateFlip</a></p>
    </div>
  </footer>
  <script src="static/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
  <script src="static/js/core/popper.min.js?ver=1.1.0"></script>
  <script src="static/js/core/bootstrap.min.js?ver=1.1.0"></script>
  <script src="static/js/now-ui-kit.js?ver=1.1.0"></script>
  <script src="static/js/aos.js?ver=1.1.0"></script>
  <script src="static/scripts/main.js?ver=1.1.0"></script>
</body>

</html>